@font-face {
  font-family: 'Neue Plak';
  src: url('./assets/fonts/Neue-Plak-Text-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Neue Plak';
  src: url('./assets/fonts/Neue-Plak-SemiBold.ttf') format('truetype');
  font-display: swap;

}


@font-face {
  font-family: 'Neue Plak';
  src: url('./assets/fonts/Neue-Plak-Regular.ttf') format('truetype');
  font-display: swap;

}


@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;

}

.font-neue {
  font-family: 'Neue Plak', sans-serif;
}


.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/*
*{
    outline: 1px solid red;
}*/


.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}


/* CSS */
.button {
  align-items: center;
  background-color: #f9f9f9;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Neue Plak', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #191919;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -1px;
  transform: translate(8px, 3px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #191919;
  outline: 0;
}

.button:hover {
  outline: 0;
  background-color: #191919;
  color: #f9f9f9;
}



.button2 {
  align-items: center;
  background-color: #191919;
  border-radius: 8px;
  box-sizing: border-box;
  /* color: #111; */
  cursor: pointer;
  /* display: flex; */
  font-family: 'Neue Plak', sans-serif;
  font-size: 16px;
  /* justify-content: center; */
  /* align-self: center; */
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.3s ease-in;
}

.button2:active {
  background: none;
}

.button2:hover {
  transform: translate(0, 0);
  background: none;
}


.button3 {
  align-items: center;
  background-color: #191919;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Neue Plak', sans-serif;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  transition: transform 0.3s ease-in;
}


.button4 {
  align-items: center;
  background-color: #191919;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: flex;
  font-family: 'Neue Plak', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button4:hover:after {
  transform: translate(0, 0);
}

.button4:active {
  background-color: #191919;
  outline: 0;
}

.button4:hover {
  outline: 0;
  background-color: #f9f9f9;
  color: #191919;
}

.button5 {
  align-items: center;
  background-color: #191919;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: flex;
  font-family: 'Neue Plak', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}